.mapa{
    border-radius: 10px;
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 20px;
}

.ubicaciones{
    background-color: #e2cba2;
    margin-top: 5px;
    border-radius: 10px;
    color: black;
    font-size: large;
    font-family: "ZenAntiqueSoft-Regular";
    font-weight: bold;
    padding: 4px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.ubiinfo{
    background-color: none;
    color: white;
    font-style: none;
    margin-left: none;
    margin-bottom: 5px;
    font-family: "ZenAntiqueSoft-Regular";
    font-size: 19px;
    line-height: normal;
}
